<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TamAngular</title>
	<!-- BOOTSTRAP -->
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-QqZs0aSOGFan3GWVdP4PyCBp6icaF/4n8Q+wsmZUTiiVIqE4r4tFYcb8Osf+8y45" crossorigin="anonymous">

	<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- CUSTOM STYLE -->
		<link rel="stylesheet" type="text/css" href="dist/main.css">
	</head>
	<body ng-app="tamangularApp">
		<div ng-controller="HomeController as myController">
		<div choosework-directive>
				
			</div>
			<div class="container">
			<!-- TITLE -->
				<div>
					<h1 class="hidden-xs" ng-if="myController.ready">TamAngular</h1>
				</div>
			<!-- HEADER -->
				<header>
					
				</header>
			<!-- CONTENT -->
				<div class="col-xs-12" ng-if="!myController.ready" ng-hide="gameStarted">
					<div class="jumbotron">
						<h1>TamAngular</h1>
						<img src="assets/images/pk_good.png" alt="pika_good_mood" class="img-thumbnail">
						<p>Le but du jeu est d'atteindre le plus haut score en mainenant votre TamAngular le plus longtemps en vie avec un bon niveau de joie et de santé. Chaque cycle vous fait gagner 1pt au score.</p>
						<p><a class="btn btn-primary btn-lg" ng-click="myController.readyToPlay('ok')">Jouer à TamAngular</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12" ng-show="myController.ready">
					<div class="panel panel-default">
					 	<div class="panel-heading">
					    	<h3 class="panel-title">Your Tamagotchi's name</h3>
					    <!-- Action Start -->
					 		<button class="btn btn-success" ng-click="myController.initGameVars()" ng-disabled="gameStarted">Start</button>
					 	
						<!-- Action work -->	
					 		<button class="btn" ng-click="myController.goToWork()" 
					 		ng-disabled="(!gameStarted) || onAction">
					 			<span> Work</span>
					 		</button>
						<!-- Action Feed -->
					 		<div class="btn-group">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="!gameStarted || onAction">
									Feed
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="(key, food) in myController.listfood">
										<a href="#" ng-click="myController.goEating(key)">
											<span ng-bind="food.name"> </span>
											<span class="pull-right  fa fa-money " ng-bind="food.price"></span>
										</a>
									</li>
								</ul>
							</div>
						<!-- Action Sleep -->
					 		<button class="btn" ng-click="myController.goToSleep()" 
					 		ng-disabled="(!gameStarted) || onAction">
					 			<span> Sleep</span>
					 		</button>

						</div>
						<div class="panel-body">
						<!-- GAUGES -->
					    	<div>
					    	<!-- HEALTH -->					    	
					    		<div class="col-xs-12 col-sm-12">
									<div class="progress">
										<div class="progress-bar progress-bar-success" style="width: {{myController.lifePoints}}%"><i class="fa fa-plus"></i></div>
									</div>
						    	</div>
						    <!-- MOOD -->
						    	<div class="col-xs-6">
					    			<div class="col-xs-12">
								    	<div class="progress">
											<div class="progress-bar progress-bar-info" style="width: {{myController.moodPoints}}%"><i class="fa fa-user"></i></div>
										</div>
					    			</div>
						    	</div>
					    	</div>
					    	<!-- TIRED -->
								<div class="col-xs-6">
									<div class="col-xs-12">
								    	<div class="progress">
											<div class="progress-bar progress-bar-danger" style="width: {{myController.tiredPoints}}%"><i class="fa fa-battery-half"></i></div>
										</div>
									</div>
								</div>
					    	<div class="row">
						    <!-- loader -->
						    	<div class="col-xs-12 col-sm-4">
							    	<div class="panel panel-default" ng-show="gameStarted">
										<div class="panel-heading">
											<h3 class="panel-title">Action cost</h3>
										</div>
										<div class="panel-body">
							   			 	<div class="col-xs-6">
							   			 		<i class="fa fa-spinner fa-pulse fa-4x" ng-if="onAction"></i>	
							   			 	</div>
							   			 	<div class="col-xs-6">
								   			 	<div class="col-xs-12">
								   			 		<label class="fa fa-plus"> &nbsp;</label><span ng-bind="workingVariables.life"></span>
								   			 	</div>
								   			 	<div class="col-xs-12">
								   			 		<label class="fa fa-user"> &nbsp;</label><span ng-bind="workingVariables.mood"></span>
								   			 	</div>
								   			 	<div class="col-xs-12">
								   			 		<label class="fa fa-battery-half"> &nbsp;</label><span ng-bind="workingVariables.tired"></span>
								   			 	</div>
								   			 	<div class="col-xs-12">
								   			 		<label class="fa fa-money"> &nbsp;</label><span ng-bind="workingVariables.money"></span>
								   			 	</div>
							   			 	</div>
										</div>	
									</div>
						   		</div>
						    <!-- AVATAR -->
								<div class=" col-xs-10 col-sm-6">
									<img class="img-responsive" ng-src="assets/images/pk_{{ state }}.png" alt="">
								</div>

							<!-- MONEY -->
								<div class="col-xs-1 col-sm-1" ng-show="gameStarted">
									<i class="fa fa-money"></i>
									<span ng-bind=myController.money></span>
								</div>
					    	</div>
						</div>
						<div class="panel-footer">
							<h2>SCORE: <span ng-bind=score></span></h2>
							<span>Previous score: <small ng-bind=lastScore></small></span>
							<blockquote class="blockquote-reverse">
								<footer>Je t'aime mon amour!!!!! De tout mon coeur !!</footer>
							</blockquote>
						</div>
				</div>
			<!-- FOOTER -->
			

				
			</div>
			
		</div>
		<footer>
		<!-- BOOTSTRATP with JQuery -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- ANGULAR JS -->
			<script type="text/javascript" src="node_modules/angular/angular.min.js" charset="utf-8"></script>
		<!-- COMPILED JS FILES -->
			<script type="text/javascript" src="dist/appts.js" charset="utf-8"></script>


		</footer>
	</body>
</html>